<h1 class="text-center">Listing Users</h1>


  <section class="container-fluid">
    <div class="row column">
    <% @users.each do |user| %>
        <div class="ficheuser col-sm-6 col-md-4 col-lg-3 text-center">

        <h3><%= user.username %></h3>
        <p> <%= image_tag(user.avatar, size: "70") %></p>
        <p><%= user.email %></p>
        <p><%= link_to 'Show',  user %>
        <% if current_user.id == user.id || current_user.role == 1 %>
        <%= link_to 'Edit',  edit_user_registration_path(user) %>
        <%= link_to 'Destroy',  user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <%end%>
    </div>
    <% end %>
  </div>

</section>

<br>

<%= link_to 'New User', new_user_registration_path, class:'btn btn-primary btn-new', role:'button' %>
